<div>
    <div>
        <div *ngIf="true">
            <form>
                <div>
                    <h1>Create your own tread</h1>
                </div>
                <div>
                    <div class="tread-creation-class"><input type="text" placeholder="Header"></div>
                    <div class="tread-creation-class"><input type="text" placeholder="Description"></div>
                    <div class="tread-creation-class"><textarea placeholder="Text"></textarea></div>
                </div>
            </form>
        </div>
    </div>
    <div>  
        <div>

        </div>
    </div>
</div>