body{
    
    font-family:'Lucida Grande';
    src:
        url("../src/assets/fonts/lucidagrande.ttf") format("truetype"),
        ;

}
html, body {
    height: 100%;
    // background-color: black;
    // overflow: hidden;

  }
